<%= form_for(@prose) do |f| %>
  <% if @prose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prose.errors.count, "error") %> prohibited this prose from being saved:</h2>

      <ul>
      <% @prose.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
